html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, main, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* 
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com 
Twitter: @rich_clark
*/
section#menu-bar {
  width: 320px;
  margin: 0 auto;
  margin-top: 20px;
  box-shadow: 0 0 0 1px #0808f8, 0 0 15px 0 #adacac;
  padding-top: 5px;
  box-sizing: border-box;
  overflow: hidden; }
  section#menu-bar ul {
    display: flex;
    list-style-type: none; }
    section#menu-bar ul li i {
      padding: 5px 7px; }
    section#menu-bar ul li:first-child {
      margin-left: 2%;
      font-size: 1.1em; }
      section#menu-bar ul li:first-child figure {
        display: inline-block;
        background-color: yellow;
        width: 15px;
        height: 14px; }
        section#menu-bar ul li:first-child figure img {
          width: 100%;
          height: 100%; }
    section#menu-bar ul li:nth-child(2) {
      margin-left: auto; }
    section#menu-bar ul li:last-child {
      margin-right: 15px; }
    section#menu-bar ul li :hover {
      background-color: #c7c5c5; }
    section#menu-bar ul li:last-child :hover {
      background-color: #f53333; }

section#display {
  width: 99.9%;
  border-bottom: 1.1px solid #f0eeee; }
  section#display div {
    font-size: 1.5em; }
  section#display div#input {
    padding: 5px 5px 50px 5px;
    height: 20px; }
  section#display div#output {
    padding: 10px 5px;
    text-align: right; }

section#button-panels table {
  width: 100%;
  padding: 2%; }
  section#button-panels table tbody tr.lightgray td {
    background-color: #f0eeee; }
  section#button-panels table tbody tr td {
    text-align: center;
    padding: 15px 5px;
    font-size: 25px;
    background-color: inherit;
    cursor: default; }
  section#button-panels table tbody tr td:hover {
    background-color: #bdbbbb; }
  section#button-panels table tbody tr td.bold {
    font-weight: bold; }
  section#button-panels table tbody tr:last-child td:last-child {
    font-size: 30px;
    color: white;
    background-color: #858383; }
  section#button-panels table tbody tr:last-child td:last-child:hover {
    color: black;
    background-color: yellowgreen; }
